
/*======================================================================
=            Import all your .scss files, order is very important

	(The file which is not imported will not be include in final build )

	CSS - All the css files will be loaded in the order they appear
		in the app/css directory
========================================================================*/


// @import "somefile"

/*
  To use bootstrap-sass-official run:
  bower install --save bootstrap-sass-official

  Then uncomment the two lines below:
*/

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/" !default;
@import "variables";
@import "mixins";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

@import "landing-page";
@import "about";
@import "registry";

// bootstrap overrides
.page-header {
	padding-top: 50px;
}

.navbar-brand {
	height: 60px;
 	> img {
		display: inline-block;
		margin-right: 10px;
		height: 30px;
	}
}

.navbar-toggle, .navbar-btn {
	margin-top: 13px;
	margin-bottom: 13px;
}

.navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-default .btn-link {
	line-height: 20px;
	text-decoration:  none;
}