<!-- Page Content -->
<div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Chips Or Something
                </h1>
                <p>Chips Or Something is a web app to help you collaboratively plan the food and drink for your next big event. Import your events from Facebook, invite your guests, and decide on a list of what to bring. Then, you and your guests can decide who's bringing what, then post the final list back to Facebook for posterity. Your guests can even use COS to send themselves a reminder!</p>
            </div>
            <div class="col-lg-12">
            	<p>Here's an example: John has made plans to have Joe, James, Jake and Jane over to watch the Big Game next weekend. But they're going to need something to munch on during all those timeouts and commercial breaks. So John logs into Chips Or Something and imports his Facebook event, inviting his friends to join him on COS. There, they agree that Pizza, Wings, Beer, Salad and (of course!) Chips are necessary items to bring. Each person claims an item they are willing to bring. John uses COS to make a pinned post back on the Facebook Event page with the now-completed list, while the invitees have COS send them an alert notification with their claimed item to remind them what to buy on their next grocery run. The following Sunday, everyone brings their A-game, and also their item!</p>
            </div>
        </div>

        <!-- Questions Row -->
        <div class="row">
        	<div class="col-lg-12">
                <h1 class="section-header">FAQ</h2>
            </div>
            <div class="col-lg-12">
            	<h3>I'm hosting an event. How can I use Chips Or Something?</h3>
            	<p>Log in, and you'll be directed to the My Events page. Click the Import Event button, and choose the Facebook event that you'd like to import. COS will give you a link and an option to post that link to your Facebook Event page. That's the invite link your guests will use.</p>
            	<p>If you've already imported your event and invited your guests, simply select the event from My Events and you'll be directed to the View Events page, where you can participate in the planning process! Once planning is done, be sure to click the Finalize List button to post the list of who's bringing what to your Facebook Events page.</p>
            </div>
            <div class="col-lg-12">
            	<h3>I got invited to an event using Chips Or Something. What do I do?</h3>
            	<p>Just log in, and you'll be directed to the View Event page. From there, simply type in items you want to suggest, vote Yay or Nay on Suggested Items, and claim any Accepted Items you want to bring. If you want a reminder, click the Remind Me button next to your Claimed Item.</p>
            </div>
            <div class="col-lg-12">
            	<h3>I don't have a Facebook. Can I still use Chips Or Something?</h3>
            	<p>Sorry, no. COS is meant to be used with Facebook Events. However, we may expand to support Google Calendar events in the future, so stay tuned!</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-header">Our Team</h2>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center teampic" src="img/teampics/jpbetley.jpg" alt="John Betley">
                <h3>John Betley</h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center teampic" src="img/teampics/rculp.jpg" alt="Rob Culp">
                <h3>Rob Culp</h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center teampic" src="img/teampics/mhenry.jpg" alt="">
                <h3>Mike Henry</h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center teampic" src="img/teampics/nmilos.jpg" alt="">
                <h3>Nick Miloscia</h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

        </div>