<div class="container">
      <div class="row">
            <div class="col-md-3">
                  <ng-include src="'templates/events/sidebar.html'"></ng-include>
            </div>

		<div ng-show="!loading && selectedEvent" class="col-md-9">
                  <h1 class="page-header">{{selectedEvent.name}}</h1>
                  <p>You are {{username}}.
                  These are your events.</p>
                  <div ng-repeat="e in events | orderBy:'start_time'">
                        {{e.name}} on {{e.start_time | date:'EEEE, MMM d, yyyy on h:mm a'}}. You are {{e.rsvp_status}}.
                        <button ng-click="chooseEvent()">Add</button>
                  </div>
		</div>
            <div ng-show="!loading && !selectedEvent" class="col-md-9">
                  <h1 class="page-header">No upcoming events!</h1>
            </div>
            <div ng-show="loading" class="col-md-9">
                  <h1 class="page-header">Loading...</h1>
            </div>
	</div>
</div>