<div class="container">
      <div class="row">
            <div class="col-md-3">
                  <ng-include src="'templates/events/sidebar.html'"></ng-include>
            </div>

		<div ng-show="!loading && selectedEvent" class="col-md-9">
                  <h1 class="page-header">{{selectedEvent.name}}</h1>
                  <h4 class="sub-header">
                        <i class="fa fa-clock-o"></i>
                        {{selectedEvent.start_time | date:'EEEE, MMM d, yyyy on h:mm a'}}
                  </h4>
                  <h4 class="sub-header">
                        <i class="fa fa-map-marker"></i>
                        {{selectedEvent.location}}
                  </h4>
		</div>
            <div ng-show="!loading && !selectedEvent" class="col-md-9">
                  <h1 class="page-header">No upcoming events!</h1>
            </div>
            <div ng-show="loading" class="col-md-9">
                  <h1 class="page-header">Loading...</h1>
            </div>
	</div>
</div>