<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Chips Or Something</h1>
                    <h3>What are you bringing to the party?</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <ng-login-button ng-hide-auth class="btn btn-default btn-lg">
	                        	<i class="fa fa-facebook fa-fw"></i> 
	                        	<span class="network-name">Login With Facebook</span>
	                    	</ng-login-button>
                            <a href="/#!/events" ng-show-auth class="btn btn-default btn-lg">
                                <i class="fa fa-calendar-o fa-fw"></i>
                                See Your Events
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Find Something To Bring To The Party</h2>
                <p class="lead">Go through the list of items and notify the host and other attendees of what you plan on bringing with you! Or better yet, add to the fun by bringing something no one has thought of yet.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/speech-bubbles.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Worry Less. Party More.</h2>
                <p class="lead">Ensure that everything is taken care of before your big event. Be it a Birthday, Holiday, or Game Day, you can rest assured knowing your guests will have the time of their lives.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive img-rounded" src="img/gameday.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

        
    <div class="container">
        
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Full Facebook Integration</h2>
                <p class="lead">Chips Or Something is designed to work with your existing Facebook Events. So log in and start planning!</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/social.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h2>What are you bringing?</h2>
            </div>
            <div class="col-md-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <ng-login-button ng-hide-auth class="btn btn-default btn-lg">
                        	<i class="fa fa-facebook fa-fw"></i> 
                        	<span class="network-name">Login With Facebook</span>
                    	</ng-login-button>
                        <a href="/#!/events" ng-show-auth class="btn btn-default btn-lg">
                            <i class="fa fa-calendar-o fa-fw"></i>
                            See Your Events
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

