<!-- Page Content -->
<div class="container">

	<!-- Header Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Chip Registry for <span>{{event.name}}</span></h1>
            </div>
        </div>

    <!-- Attendees Row -->
		<div class="row centered-row">
			<div class="col-sm-4 col-xs-12">
				<h3>Host</h3>
				<div>{{event.owner.name}}</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<h3>Admins</h3>
				<div ng-repeat="admin in event.admins">
					{{admin.name}}
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<h3>Guests</h3>
				<div ng-repeat="guest in guests">
					{{guest.name}}
				</div>
			</div>
		</div>

	<!-- Needs Row -->
    <div class="row centered-row">
        <div class="col-lg-12">
            <h3>Suggest Items</h3>
            <ui-select multiple tagging search-enabled="false" tagging-label="(custom 'new' label)" ng-model="suggestions">
                <ui-select-match placeholder="Suggest what to bring!">{{$item}}</ui-select-match>
                <ui-select-choices repeat="suggestion in suggestions | filter:$select.search">
                    {{color}}
                </ui-select-choices>
            </ui-select>
            <br>
            <button class="btn btn-default" ng-click="suggest()">Add Suggestions</button>
        </div>
    	<div class="col-lg-12">
            <h3>Needs</h3>
    		<div ng-repeat="need in event.needs">
    			<div class='need'>
    				<div><div ng-class="(need.taken) ? 'needName claimed' : 'needName unclaimed'">{{need.name}}</div></div>
    				<div ng-show="{{need.taken}}" class="needClaimer">Claimed By: {{getClaimerName(need)}}</div>
    				<div ng-hide="{{need.taken}}"><button  ng-click="claimItem(need)"class="btn btn-default claimBtn">Claim This!</button></div>
    			</div>
    		</div>
    	</div>
    </div>

    <!-- Progress Row -->
    <div class="row centered-row">
        <div class="col-lg-12">
            <button ng-click="publishList()" class="btn btn-default btn-lg">Publish List</button>
        </div>
    </div>
</div>